# pipecat-quickstart - Environment Variables
# Copy this file to .env and fill in your API keys

# Daily (Transport)
DAILY_API_KEY=
# Optional: leave empty to create a new room
# DAILY_ROOM_URL=
 
ASSEMBLYAI_API_KEY=""

DEEPGRAM_API_KEY=""
DEEPGRAM_VOICE=aura-2-thalia-en

GITHUB_TOKEN=""
OPENAI_MODEL=openai/gpt-4o-mini

OTEL_EXPORTER_OTLP_ENDPOINT=https://api.smith.langchain.com/otel
OTEL_EXPORTER_OTLP_HEADERS=x-api-key=<your-langsmith-api-key>
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT="TheInterviewer"
